PowerPlatform/Live360/src/Workflows/CreatePayrollAccount-3E595CF3-9681-EE11-8179-000D3A56434D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ais_Live360Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "FunctionEndpointUrl (ais_FunctionEndpointUrl)": {
          "defaultValue": "https://ais-live-360-2023a.azurewebsites.net",
          "type": "String",
          "metadata": {
            "schemaName": "ais_FunctionEndpointUrl",
            "description": "Endpoint address for new employee Azure Function"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "5b8ad8b0-2474-4618-95a0-95f8db1534ff"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "First Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter employee first name",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Last Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter employee last name",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Salary",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter the salary amount",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "RecordId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "HTTP": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4cab331b-cd17-4fbe-9014-f5742d5e38f0"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@{parameters('FunctionEndpointUrl (ais_FunctionEndpointUrl)')}/api/EmployeeAdded?First=@{triggerBody()['text']}&Last=@{triggerBody()['text_1']}"
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded",
              "Skipped",
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "68553a58-c263-4b5d-9ca0-474c24a7a6f3"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "@{outputs('HTTP')['statusCode']}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Update_a_row": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "29163c09-31f7-49b7-bc9c-5304033ed281"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerBody()['text_3']",
              "item/ais_payrollaccountcreated": true
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}