PowerPlatform/Live360/src/Workflows/CreatePayrollAccount-3E595CF3-9681-EE11-8179-000D3A56434D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ais_Live360Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_ais-5flive360-20payroll-20account-5f293b57f196a64e78": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "ais_sharedais5flive36020payroll20account5f293b57f196a64e78_d86db"
        },
        "api": {
          "name": "shared_ais-5flive360-20payroll-20account-5f293b57f196a64e78",
          "logicalName": "ais_5Flive360-20payroll-20account"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "5b8ad8b0-2474-4618-95a0-95f8db1534ff"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "First Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter employee first name",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Last Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter employee last name",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Salary",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter the salary amount",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "RecordId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded",
              "Skipped",
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "68553a58-c263-4b5d-9ca0-474c24a7a6f3"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {}
          }
        },
        "Update_a_row": {
          "runAfter": {
            "AddEmployee": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "29163c09-31f7-49b7-bc9c-5304033ed281"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerBody()['text_3']",
              "item/ais_payrollaccountcreated": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "AddEmployee": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "first": "test",
              "last": "test",
              "salary": 1234
            },
            "host": {
              "apiId": "",
              "operationId": "AddEmployee",
              "connectionName": "shared_ais-5flive360-20payroll-20account-5f293b57f196a64e78"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}